

.image-wrapper {
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}

.product-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  padding: 20px;
  transition: 0.3s ease-in-out;
}

/* عند اللمس تتغير الصورة */
.image-wrapper:hover .product-img {
  transform: scale(1.1);
  padding:0;          /* إزالة Padding */
}

/* القائمة الجانبية */
.icon-menu {
  position: absolute;
  top: 10px;
  right: -50px;         /* مخفية خارج اليمين */
  gap: 10px;
  transition: 0.3s ease-in-out;
}

.image-wrapper:hover .icon-menu {
  right: 10px;          /* تظهر عند الHover */
}

/* شكل أزرار الأيقونات */
.icon-btn {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: none;
  background: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.icon-btn:hover {
  background: hsl(353, 100%, 78%);
  color: white;
}
