<div class="container mx-auto my-5">

  <h2 class=" fw-bold text-center mb-5">Your Cart 🛒 </h2>

  <div *ngIf="cart.length === 0" class="alert alert-info text-center">
    Cart is empty -_-
  </div>

  <div *ngFor="let item of cart" class="card mb-3 shadow-sm">
    <div class=" row g-0">

      <!-- Image -->
      <div class="col-md-3">
        <img [src]="item.images[0]" class="img-fluid rounded-start w-75" alt="">
      </div>

      <div class="col-md-9">
        <div class="card-body">

          <h5 class="card-title">{{ item.title }}</h5>

           <!-- Remove -->
          <button class="btn btn-danger btn-sm ms-auto d-flex align-items-center justify-content-center"
           (click)="remove(item)">
            <i class="bi bi-trash"></i>
          </button>

          <p class="text-success fw-bold fs-5">
            {{ item.price | currency:'USD' }}
          </p>

          <!-- Quantity Control -->
          <div class="d-flex align-items-center mb-3">
            <button class="btn btn-outline-dark btn-sm" (click)="decrease(item)">−</button>

            <span class="mx-3 fs-5 fw-bold">{{ item.quantity }}</span>

            <button class="btn btn-dark btn-sm" (click)="increase(item)">+</button>

          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- Total -->
  <div *ngIf="cart.length > 0" class="mt-4 p-3 bg-light border rounded shadow">
    <h4 class="fw-bold">
      Total: <span class="text-success">{{ getTotal() | currency:'USD' }}</span>
    </h4>

    <button class="btn btn-outline-danger mt-3" (click)="clearAll()">
      Clear Cart
    </button>
  </div>

</div>

