<h6 class="text-uppercase mb-3 fs-5 text-secondary">Categories</h6>

<div class="accordion" id="categoriesAccordion">

  <!-- Clothes -->
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed custom-dropdown-btn" 
              type="button" 
              data-bs-toggle="collapse" 
              data-bs-target="#clothes">
        <img src="/assets/dress.svg" class="icon"> Clothes
        <span class="toggle-icon ms-auto"></span>
      </button>
    </h2>
    <div id="clothes" class="accordion-collapse collapse" data-bs-parent="#categoriesAccordion">
      <div class="accordion-body p-1">
        <ul class="list-unstyled ps-3 mb-2">
          <li><a class="dropdown-item" href="#">Shirt</a></li>
          <li><a class="dropdown-item" href="#">Shorts & Jeans</a></li>
          <li><a class="dropdown-item" href="#">Jacket</a></li>
          <li><a class="dropdown-item" href="#">Dress & Frock</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Footwear -->
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed custom-dropdown-btn" 
              type="button" 
              data-bs-toggle="collapse" 
              data-bs-target="#footwear">
        <img src="/assets/shoes.svg" class="icon"> Footwear
        <span class="toggle-icon ms-auto"></span>
      </button>
    </h2>
    <div id="footwear" class="accordion-collapse collapse" data-bs-parent="#categoriesAccordion">
      <div class="accordion-body p-1">
        <ul class="list-unstyled ps-3 mb-2">
          <li><a class="dropdown-item" href="#">Sports</a></li>
          <li><a class="dropdown-item" href="#">Formal</a></li>
          <li><a class="dropdown-item" href="#">Casual</a></li>
          <li><a class="dropdown-item" href="#">Safety Shoes</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Jewelry -->
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed custom-dropdown-btn" 
              type="button" 
              data-bs-toggle="collapse" 
              data-bs-target="#jewelry">
        <img src="/assets/jewelry.svg" class="icon"> Jewelry
        <span class="toggle-icon ms-auto"></span>
      </button>
    </h2>
    <div id="jewelry" class="accordion-collapse collapse" data-bs-parent="#categoriesAccordion">
      <div class="accordion-body p-1">
        <ul class="list-unstyled ps-3 mb-2">
          <li><a class="dropdown-item" href="#">Earrings</a></li>
          <li><a class="dropdown-item" href="#">Couple Rings</a></li>
          <li><a class="dropdown-item" href="#">Necklace</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Perfume -->
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed custom-dropdown-btn" 
              type="button" 
              data-bs-toggle="collapse" 
              data-bs-target="#perfume">
        <img src="/assets/perfume.svg" class="icon"> Perfume
        <span class="toggle-icon ms-auto"></span>
      </button>
    </h2>
    <div id="perfume" class="accordion-collapse collapse" data-bs-parent="#categoriesAccordion">
      <div class="accordion-body p-1">
        <ul class="list-unstyled ps-3 mb-2">
          <li><a class="dropdown-item" href="#">Clothes Perfume</a></li>
          <li><a class="dropdown-item" href="#">Deodorant</a></li>
          <li><a class="dropdown-item" href="#">Jacket</a></li>
          <li><a class="dropdown-item" href="#">Dress & Frock</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Cosmetics -->
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed custom-dropdown-btn" 
              type="button" 
              data-bs-toggle="collapse" 
              data-bs-target="#cosmetics">
        <img src="/assets/cosmetics.svg" class="icon"> Cosmetics
        <span class="toggle-icon ms-auto"></span>
      </button>
    </h2>
    <div id="cosmetics" class="accordion-collapse collapse" data-bs-parent="#categoriesAccordion">
      <div class="accordion-body p-1">
        <ul class="list-unstyled ps-3 mb-2">
          <li><a class="dropdown-item" href="#">Shampoo</a></li>
          <li><a class="dropdown-item" href="#">Sunscreen</a></li>
          <li><a class="dropdown-item" href="#">Body Wash</a></li>
          <li><a class="dropdown-item" href="#">Makeup Kit</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Glasses -->
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed custom-dropdown-btn" 
              type="button" 
              data-bs-toggle="collapse" 
              data-bs-target="#glasses">
        <img src="/assets/glasses.svg" class="icon"> Glasses
        <span class="toggle-icon ms-auto"></span>
      </button>
    </h2>
    <div id="glasses" class="accordion-collapse collapse" data-bs-parent="#categoriesAccordion">
      <div class="accordion-body p-1">
        <ul class="list-unstyled ps-3 mb-2">
          <li><a class="dropdown-item" href="#">Sunglasses</a></li>
          <li><a class="dropdown-item" href="#">Lenses</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Bags -->
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed custom-dropdown-btn" 
              type="button" 
              data-bs-toggle="collapse" 
              data-bs-target="#bags">
        <img src="/assets/bag.svg" class="icon"> Bags
        <span class="toggle-icon ms-auto"></span>
      </button>
    </h2>
    <div id="bags" class="accordion-collapse collapse" data-bs-parent="#categoriesAccordion">
      <div class="accordion-body p-0">
        <ul class="list-unstyled ps-3 mb-2">
          <li><a class="dropdown-item" href="#">Shopping Bag</a></li>
          <li><a class="dropdown-item" href="#">Gym Backpack</a></li>
          <li><a class="dropdown-item" href="#">Purse</a></li>
          <li><a class="dropdown-item" href="#">Wallet</a></li>
        </ul>
      </div>
    </div>
  </div>

    <!-- Electronic -->
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed custom-dropdown-btn" 
              type="button" 
              data-bs-toggle="collapse" 
              data-bs-target="#electronic">
        <img src="/assets/Electronic.png" class="icon"> Electronic
        <span class="toggle-icon ms-auto"></span>
      </button>
    </h2>
    <div id="electronic" class="accordion-collapse collapse" data-bs-parent="#categoriesAccordion">
      <div class="accordion-body p-1">
        <ul class="list-unstyled ps-3 mb-2">
          <li><a class="dropdown-item" href="#">Mobile Electronics</a></li>
          <li><a class="dropdown-item" href="#">Gaming</a></li>
          <li><a class="dropdown-item" href="#">Electronic Components</a></li>
          <li><a class="dropdown-item" href="#">Consumer</a></li>
          <li><a class="dropdown-item" href="#">Laptops</a></li> 
        </ul>
      </div>
    </div>
  </div>

<!-- Bicycle -->
<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed custom-dropdown-btn" 
            type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#bicycle">
      <img src="/assets/bicycle-.webp" class="icon"> Bicycle
      <span class="toggle-icon ms-auto"></span>
    </button>
  </h2>

  <div id="bicycle" class="accordion-collapse collapse" data-bs-parent="#categoriesAccordion">
    <div class="accordion-body p-0">
      <ul class="list-unstyled ps-3 mb-2">
        <li><a class="dropdown-item" href="#">Mountain Bike</a></li>
        <li><a class="dropdown-item" href="#">Road Bike</a></li>
        <li><a class="dropdown-item" href="#">Electric Bike</a></li>
        <li><a class="dropdown-item" href="#">Kids Bike</a></li>
      </ul>
    </div>
  </div>
</div>



</div>
