<div class="container my-5 mx-auto">
  <h2 class="text-center mb-5">Your Favorite Products ❤️</h2>

  <div class="row g-3">
    <div class="col-md-3" *ngFor="let item of favorites">
      <div class="card favorite-card h-100 shadow-lg cursor-pointer">
        <img
          [src]="item.images?.[0] || item.image"
          class="card-img-top"
          alt="{{ item.title }}"
        />

        <div class="card-body">
          <p style="color: hsl(353, 100%, 78%)" *ngIf="item.category">
            {{ item.category }}
          </p>
          <div class="d-flex">
            <h5>{{ item.price | currency : "USD" }}</h5>
            <h5 class="ms-3 text-secondary text-decoration-line-through">
              {{ (item.price * 1.4).toFixed(2) | currency : "USD" }}
            </h5>
          </div>

          <p>{{ item.slug }}</p>

          <div class="d-flex gap-2">
            <button
              class="btn btn-outline-danger w-100"
              (click)="remove(item.id)"
            >
              <i class="bi bi-trash"></i> Remove
            </button>
            <button
              class="btn btn-outline-success w-100"
              (click)="addToCart(item)"
            >
              <i class="bi bi-cart4"></i> Add Cart
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
