<div class="footer container-fluid">
  <div class="container py-5">
    <h3 class="text-uppercase my-2 ">Brand directory</h3>
    <div class="footer-title">
      <h4 class="me-3">Fashion :</h4>
      <a href="#">T-shirt</a>| <a href="#">Shirts</a>|
      <a href="#">Shorts & Jeans</a>| <a href="#">Jacket</a>|
      <a href="#">Dress & Frock</a>| <a href="#">Innerwear</a>|
      <a href="#">Hosiery</a>
    </div>
    <div class="footer-title">
      <h4 class="me-3">footwear :</h4>
      <a href="#">Sport</a>| <a href="#">formal</a>| <a href="#">Boots</a>|
      <a href="#">casual</a>| <a href="#">cowboy shoes</a>|
      <a href="#">safety shoes</a>| <a href="#">Party wear shoes</a>|
      <a href="#">Branded</a>| <a href="#">Firstcopy</a>|
      <a href="#">Long shoes</a>
    </div>
    <div class="footer-title">
      <h4 class="me-3">jewellery :</h4>
      <a href="#">Necklace</a>| <a href="#">Earrings</a>|
      <a href="#">Couple rings</a>| <a href="#">Pendants</a>|
      <a href="#">Crystal</a>| <a href="#">Bangles</a>|
      <a href="#">bracelets</a>| <a href="#">nosepin</a>|
      <a href="#">Earrings</a>|
      <a href="#">Couple rings</a>
    </div>
    <div class="footer-title">
      <h4 class="me-3">cosmetics :</h4>
      <a href="#">Shampoo</a>| <a href="#">Bodywash</a>|
      <a href="#">Facewash</a>| <a href="#">makeup</a>| <a href="#">liner</a>|
      <a href="#">lipstick</a>| <a href="#">Body soap </a>|
      <a href="#">hair gel</a>| <a href="#">hair dye</a>|
      <a href="#">sunscreen</a>| <a href="#">skin loson</a>|
      <a href="#">lipstick</a>
    </div>
  </div>

  <hr>

<div class="container my-5">
  <div class="row row-cols-5">

    <!-- العمود 1 -->
    <div class="col">
      <h5 class="header">Popular Categories <hr class="line"></h5>
      <ul class="list-unstyled">
        <li><a href="#">Fashion</a></li>
        <li><a href="#">Electronic</a></li>
        <li><a href="#">Cosmetic</a></li>
        <li><a href="#">Health</a></li>
        <li><a href="#">Watches</a></li>
      </ul>
    </div>

    <!-- العمود 2 -->
    <div class="col">
      <h5 class="header">  Products<hr class="line"></h5>
      <ul class="list-unstyled">
        <li><a href="#">Prices drop</a></li>
        <li><a href="#">New products</a></li>
        <li><a href="#">Best sales</a></li>
        <li><a href="#">Contact us</a></li>
        <li><a href="#">Sitemap</a></li>
      </ul>
    </div>

    <!-- العمود 3 -->
    <div class="col">
      <h5 class="header">Our Company <hr class="line"></h5>
      <ul class="list-unstyled">
        <li><a href="#">Delivery</a></li>
        <li><a href="#">Legal Notice</a></li>
        <li><a href="#">Terms and conditions</a></li>
        <li><a href="#">About us</a></li>
        <li><a href="#">Secure payment</a></li>
      </ul>
    </div>

    <!-- العمود 4 -->
    <div class="col">
      <h5 class="header">    Services <hr class="line"></h5>
      <ul class="list-unstyled">
        <li><a href="#">Prices drop</a></li>
        <li><a href="#">New products</a></li>
        <li><a href="#">Best sales</a></li>
        <li><a href="#">Contact us</a></li>
        <li><a href="#">Sitemap</a></li>
      </ul>
    </div>

    <!-- العمود 5 -->
    <div class="col">
      <h5 class="header">  Contact<hr class="line"></h5>
      <ul class="list-unstyled">
        <li><a href="#"><i class="bi bi-geo-alt"></i> 419 State 414 Rte Beaver Dams, New York(NY), 14812, USA</a></li>
        <li><a href="#"><i class="bi bi-telephone"></i> (607) 936-8058</a></li>
        <li><a href="#"><i class="bi bi-envelope"></i> example&#64;gmail.com</a></li>
      </ul>
    </div>

</div>
</div>

  <hr>

<div class="text-center mx-auto py-2">
    <img src="assets/payment.png" class="my-3">
<p>Copyright © <span class="text-uppercase fw-bold">ROKA</span> all rights reserved.</p>
</div>
</div>




