<div *ngIf="product" class="container my-5 d-flex gap-2 align-items-start">
  <!-- الصور على اليسار -->
  <div class="d-flex flex-column align-items-center flex-shrink-0">
    <!-- الصور المصغرة بجانب الصورة الكبيرة -->
    <div class="d-flex flex-column gap-2">
      <div
        *ngFor="let img of displayImages; let i = index"
        (click)="changeImage(i)"
        class="image-thumbnail"
        [class.active-thumb]="selectedImageIndex === i"
      >
        <img [src]="img" alt="Image {{ i + 1 }}" />
      </div>
    </div>
  </div>

  <!-- الصورة الكبيرة -->
  <div class="main-image-container">
    <img [src]="selectedImage" class="main-display-image" />
  </div>

  <!-- النصوص على اليمين -->
  <div class="container flex-grow-1">
    <h2>{{ product.title }}</h2>
    <h4 class="mt-3 text-success">
      Price : {{ product.price | currency : "USD" }}
    </h4>
    <p class="w-75 my-4">{{ product.description }}</p>
    <button class="btn btn-success w-25" (click)="addToCart()">
      <i class="bi bi-cart4"></i> Add to Cart
    </button>
  </div>
</div>
